:root {
    --color-palette-black: #011E11;
    --color-pallete-green: #12FF46;
    --color-pallete-white: #ffffff;
    --color-pallete-yellow: #FAFF12;
}

/* reset */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4 {
    font-family: 'Lilita One', cursive;
}

li, input {
    font-family: 'Tinos', serif
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* reset */


/* estilização e personalização menu responsivo */
/* .page1 {
    min-height: 100vh;
} */


.container-nav-bg {
    background-color: var(--color-pallete-green); 
}

nav {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 15px;
    justify-content: space-between;
}

#btn-mobile {
    display: flex;       
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
}

#hamburger {
    display: block;
    width: 30px;
    border-top: 4px solid var(--color-palette-black);
    transition: .3s;
}

#hamburger::after, #hamburger::before {
    content: "";
    display: block;
    margin-top: 5px;
    width: 30px;
    height: 4px;
    background-color: var(--color-palette-black);
    transition: .4s;     
    position: relative;
}

#container-menu.active  #hamburger {
    border-top-color: transparent;
}

#container-menu.active  #hamburger::before {
    transform: rotate(137deg);
}

#container-menu.active  #hamburger::after {
    transform: rotate(-137deg);    
    top: -9px;
}       

ul#menu { 
    display: flex;
    padding: 30px;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    gap: 0.5rem;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0;
    background-color: var(--color-pallete-green);
    text-align: center; 
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    transition: .6s;
    z-index: 1000;
}

#container-menu.active ul#menu  {    
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
}

.fa-solid {
    margin-right: 0.5rem;
}


ul#menu li a {
    display: block;
    color: var(--color-pallete-black);
    text-decoration: none;
    padding: 2rem 1rem;
    transition: .4s;
}


/* Dropdown */
.dropdown {
    position: relative;
    display: block;
    width: 160px;
}


.dropdown-content {
    display: none;
    position: absolute; 
    overflow: auto;
    background-color: var(--color-pallete-white);
    color: var(--color-palette-black);
    border-radius: 0.5rem;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: .8s;
}


.dropdown-content a:hover {
    background-color: var(--color-pallete-green);
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* Dropdown */

/* media queries */

@media screen and (min-width: 768px) {
    nav {
        max-width: 1600px;
        margin: 0 auto;
    }

    #btn-mobile {
        display: none;
    }

    ul#menu {
        position: unset;  
        flex-direction: row;
        background-color: unset; 
        visibility: visible;
        overflow-y: unset;
    }

    ul#menu li a {
        color: var(--color-pallete-black);
    }
}

/* media queries */

/* estilização e personalização menu responsivo */





/* estilização header */

.container-header-bg {
    padding: 30px 15px;
    display: flex;
    min-height: calc(100vh - 70px);
    background-color: var(--color-palette-black);
}

.text {
    padding-bottom: 30px;
}

header {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
   
}

header h1 {
    font-size: 2.1rem;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 30px;
    text-align: center;
}

ul.social {
    display: flex;
    list-style: none;
    justify-content: center;
}

/* ul.social a {
    margin: 0 15px;   
} */

.fa-brands {
    padding: 15px;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #12FF46;
    color: #011E11;
    transition: .5s;
}

.fa-brands:hover {
    background-color:#011E11;
    color: #ffffff;
    transform: scale(1.2);
}



.container-image {
    position: relative;
    width: 100%;
}

.container-image .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 50%;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container-image:hover .image {
    opacity: 0.2;
}

.container-image:hover .middle {
    opacity: 1;
}

.text-image {
    background-color: #12FF46;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 16px 32px;
    transition: .5s;
}

.text-image:hover {
    background-color: #ffffff;
}

.container-button {
    padding: 30px 0 15px 0;
    text-align: center;
}

.container-button button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: #12FF46;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    transition: .2s ease-out;
}

.container-button button:hover {
    background-color: white;

}

.container-button button:active {
    box-shadow: 0 5px #777;
    transform: translateY(4px);
}

/* responsive */
@media screen and (min-width: 768px) {
    .page1 {
        min-height: 100vh;    
        background-color: #011E11;
    }

    header {
        flex-direction: row;
        max-width: 1600px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }

    header h1 {
        font-size: 3.2rem;
    }

    .text {
        flex: 1;
    }

    .container-image {
        flex: 1;
        width: 50%;
    }

}

@media only screen and (min-width: 1200px) {
    header h1 {
        font-size: 4rem;
    }
}



/* header .image-container img {
    width: 400px;
    clip-path: path('M13.100000381469727,0.0 L0.0,189.39999389648438 L39.5,268.29998779296875 L44.70000076293945,386.70001220703125 L328.79998779296875,499.79998779296875 L399.79998779296875,69.69999694824219 L136.8000030517578,78.9000015258789 L13.100000381469727,0.0');
}
